{% extends "flask_user_layout.html" %}
{% block content %}
{% if current_user.username %}
    <h1>Hello {{ current_user.username }}!</h1>
{% endif %}
    <h2>You chose wisely {{ difficulty }}!</h2>
    <form action="{{ url_for('quizy.count_me_in_page') }}" method="post">
        <ul>
        {% for key, value in quiz.items() %}
            <li>
                <p>{{ value.question }}</p>
                <input type="radio" id="true_{{ key }}" name="{{ key }}" value="True"><label for="true_{{ key }}">True</label><br>
                <input type="radio" id="false_{{ key }}" name="{{ key }}" value="False"><label for="false_{{ key }}">False</label><br>
            </li>
        {% endfor %}
        </ul>
        <input type="submit" value="Count me in!">
    </form>
{% endblock %}