{% extends "flask_user_layout.html" %}
{% block content %}
{% if current_user.username %}
    <h1>Hello {{ current_user.username }}!</h1>
{% endif %}
    <h2>This is the quizzes ranking!</h2>
    <style>
        th {
            border: 2px solid black;
        }
        td {
            border: 1px solid black;
        }
        th, td {
            padding-left: 5px;
            padding-right: 5px;
        }
        th {
            text-align: center;
        }
        .center {
            text-align: center;
        }
    </style>
    <table>
        <tr>
            <th>User</th>
            <th>Quiz uuid</th>
            <th>Score</th>
        </tr>
        <tr>
            <td>Me</td>
            <td>1234-abcdef-123456-abcd</td>
            <td class="center">6</td>
        </tr>
    </table>
{% endblock %}